.wp-block-cm-block-cm-cpt-items{
	&.wp-block[data-type="cm-block/cm-cpt-items"]{
		width: 100%;
		max-width: 1504px;
		margin: 0 auto;
		padding: 0 8px;
	}

	.wp-block-cm-block-cm-cpt-items__list{
		.wp-block-cm-block-cm-cpt-items__card{
			&-text{
				margin-top: 0;
				p{
					margin: 0;
					line-height: 24px;
				}
			}
		}
	}

}
