.wp-block-cm-block-gb-cpt-items {

	&:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce) {

		.entry-content & {
			width: 100%;
			max-width: 1504px;
			margin: 0 auto;
			padding: 0 16px;
		}
	}

	.wp-block-cm-block-gb-cpt-items__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 14px;
		justify-content: flex-start;

		.wp-block-cm-block-gb-cpt-items__card {
			display: flex;
			flex-direction: column;
			width: calc((100% - 42px) / 4);
			margin-bottom: 40px;

			@media (max-width: 992px){
				width: calc((100% - 14px) / 2);
			}

			@media (max-width: 576px){
				width: 100%;
			}

			&-img-box {
				overflow: hidden;
				width: 100%;
				height: 150px;
				margin-bottom: 14px;

				> a > img {
					display: block;
					width: 100% !important;
					height: 100% !important;
					object-fit: cover;
					max-width: unset !important;
				}
			}

			&-title {
				font-size: 24px;
				line-height: 1;
				font-weight: 400;
				color: #0066b3;
				margin: 0 0 8px 0;

				a {
					text-decoration-thickness: 1px;
				}
			}

			&-text {
				font-size: 18px;
				line-height: 24px;
				margin-bottom: 14px;
				flex-grow: 1;
			}

			&-tags{
				text-transform: lowercase;
				display: flex;
				flex-direction: row;
				column-gap: 4px;
			}
			
			&-tag {
				display: inline-block;
				text-decoration: none;
				font-weight: 700;
				font-size: 14px;
				line-height: 18px;
				padding: 4px 8px;
				background-color: #00aeef;
				color: #333;
			}
		}
	}

	&__paginator {
		text-align: center;
		display: flex;
		flex-direction: row;
		column-gap: 6px;
		justify-content: center;

		a{
			&.page-numbers {
				text-decoration-thickness: 1px;
				display: inline-block;
			}
		}
	}

}
